<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-todolist</title>
    <!-- FONT-AWESOME ICONS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css'
        integrity='sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=='
        crossorigin='anonymous' />
    <!-- BOOTSTRAP CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css'
        integrity='sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=='
        crossorigin='anonymous' />
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="./CSS/stylesheet.css">
    <!-- VUE JS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.1/vue.global.js'
        integrity='sha512-gYM3HVh8zcICHvSj7kF/ChTdRVIhFx3rQao1Zc6UOGPWGDnjhXQPsPwRAqMoJ30mnbZK0n9VdD01cEH1O3gplg=='
        crossorigin='anonymous'></script>
    <!-- SCRIPT JS -->
    <script defer src="./JS/script.js"></script>
</head>

<body>
    <div id="app">
        <!-- heading -->
        <header class="d-flex align-items-center">
            <!-- Logo -->
            <div class="logo-wrapper">
                <img class="logo img-fluid" src="img/logo.png" alt="Toboolist icon">
            </div>
            <h1 class="">Toboolist</h1>
        </header>

        <main class="mt-4  container">
            <section class="today-tasks row row-cols-1">

                <div class="wrapper col">
                    <h3 class="mb-4">Today Task</h3>
                </div>

                <ul class="list-group col row">
                    <li class="list-group-item list-group-item-action col d-flex justify-content-between align-items-center"
                        v-for="(things, index) in toDoList" :class="isDone(things.done)"
                        @click="things.done = !things.done">
                        <p class="fs-5">{{things.toDo}}</p>
                        <span class="icon">
                            <i class="fa-regular fa-circle-xmark fs-5" @click="removeTask(index)"></i>
                        </span>
                    </li>
                </ul>
            </section>

            <section class="new-task col row row-cols-1">

                <div class="wrapper col">
                    <h3 class="mt-4">New Task</h3>
                </div>

                <div class="wrapper col d-flex ">
                    <div class="form-floating mb-3 w-75">
                        <input type="text" class="form-control" id="floatingInput" placeholder="" v-model="addTask"
                            @keyup.enter="addNewTask(addTask)">
                        <label for="floatingInput">Add New task</label>
                    </div>

                    <span class="w-25 text-end">
                        <button type="button" class="btn btn-primary btn-lg" @click="addNewTask(addTask)">Add
                            New Task</button>
                    </span>
                </div>
            </section>
        </main>

        <footer></footer>


    </div>
</body>

</html>